<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end stretch" class="controles">
  <button mat-flat-button color="primary" (click)="create()">Adicionar</button>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" class="adubacoes">
  <table mat-table fxFlex="100%" fxFlex.gt-sm="100%" [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let adubacao"> {{adubacao.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome" sticky>
      <th mat-header-cell *matHeaderCellDef> Titulo do Laudo</th>
      <td mat-cell *matCellDef="let adubacao"> {{adubacao.laudo.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="responsavel">
      <th mat-header-cell *matHeaderCellDef> Responsavel</th>
      <td mat-cell *matCellDef="let adubacao"> {{adubacao.laudo.responsavel}}</td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let adubacao">
        <button mat-icon-button (click)="open(adubacao)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let adubacao">
        <button mat-icon-button (click)="edit(adubacao)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let adubacao">
        <button mat-icon-button (click)="deleteDialog(adubacao)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="40">
  </mat-progress-spinner>
</div>