  .adubacoes {
    padding: 2rem;
    padding-top: 0.5rem;
  }

  .controles {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  
  label, input {
    display: block;
  }
  
  label {
    margin-bottom: 1rem;
  }