<mat-card >
    <mat-card-header>
      <div mat-card-avatar class="card-header-image"><mat-icon>note</mat-icon></div>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>  
    <mat-card-content class="card-content"> 
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">   
          
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" >    
            <div fxFlex="40%" fxLayoutGap="5px grid"> 
              <mat-form-field class="form-element">
                <input matInput placeholder="Titulo do Laudo" formConmat-grid-listolName="nome">
                <mat-error *ngIf="form.get('nome').hasError('required') && form.get('nome').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>    
            <div fxFlex="40%" fxLayoutGap="5px grid"> 
              <mat-form-field class="form-element">
                <input matInput placeholder="Responsavel" formConmat-grid-listolNam="responsavel">
                <mat-error *ngIf="form.get('responsavel').hasError('required') && form.get('responsavel').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>  
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                <input matInput type="number" placeholder="pHReferencia" formConmat-grid-listolNam="pHReferencia">
                <mat-error *ngIf="form.get('pHReferencia').hasError('required') && form.get('pHReferencia').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>  
          </div>   

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" >  
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                <input matInput type="number" placeholder="Argila" formConmat-grid-listolName="argila">
                <mat-error *ngIf="form.get('argila').hasError('required') && form.get('argila').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                <input matInput type="number" placeholder="pH" formConmat-grid-listolNam="pH">
                <mat-error *ngIf="form.get('pH').hasError('required') && form.get('pH').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                <input matInput type="number" placeholder="indiceSMP" formConmat-grid-listolNam="indiceSMP">
                <mat-error *ngIf="form.get('indiceSMP').hasError('required') && form.get('indiceSMP').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
            <mat-form-field class="form-element">
              <input matInput type="number" placeholder="fosforoP" formConmat-grid-listolNam="fosforoP">
              <mat-error *ngIf="form.get('fosforoP').hasError('required') && form.get('fosforoP').touched">
                Campo Obrigatório
              </mat-error>
            </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                <input matInput type="number" placeholder="potassioK" formConmat-grid-listolNam="potassioK">
                <mat-error *ngIf="form.get('potassioK').hasError('required') && form.get('potassioK').touched">
                  Campo Obrigatório
                </mat-error>
              </mat-form-field>
            </div>
          </div>
           
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" >  
            <div fxFlex="20%" fxLayoutGap="5px grid">
                <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="materiaOrganicaMO" formConmat-grid-listolNam="materiaOrganicaMO">
                  <mat-error *ngIf="form.get('materiaOrganicaMO').hasError('required') && form.get('materiaOrganicaMO').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
                  <mat-form-field class="form-element">
                    <input matInput type="number" placeholder="aluminioTrocavelAlTroc" formConmat-grid-listolNam="aluminioTrocavelAlTroc">
                    <mat-error *ngIf="form.get('aluminioTrocavelAlTroc').hasError('required') && form.get('aluminioTrocavelAlTroc').touched">
                      Campo Obrigatório
                    </mat-error>
                  </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
                    <mat-form-field class="form-element">
                      <input matInput type="number" placeholder="calcioTrocavelCaTroc" formConmat-grid-listolNam="calcioTrocavelCaTroc">
                      <mat-error *ngIf="form.get('calcioTrocavelCaTroc').hasError('required') && form.get('calcioTrocavelCaTroc').touched">
                        Campo Obrigatório
                      </mat-error>
                    </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
                <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="magnesioTrocavelMgTroc" formConmat-grid-listolNam="magnesioTrocavelMgTroc">
                  <mat-error *ngIf="form.get('magnesioTrocavelMgTroc').hasError('required') && form.get('magnesioTrocavelMgTroc').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              
                      <mat-form-field class="form-element">
                          <input matInput type="number" placeholder="aluminioHidrogenioALplusH" formConmat-grid-listolNam="aluminioHidrogenioALplusH">
                          <mat-error *ngIf="form.get('aluminioHidrogenioALplusH').hasError('required') && form.get('aluminioHidrogenioALplusH').touched">
                            Campo Obrigatório
                          </mat-error>
                        </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch" >  
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="CTC" formConmat-grid-listolNam="CTC">
                  <mat-error *ngIf="form.get('CTC').hasError('required') && form.get('CTC').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="saturacaoCTC" formConmat-grid-listolNam="saturacaoCTC">
                  <mat-error *ngIf="form.get('saturacaoCTC').hasError('required') && form.get('saturacaoCTC').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="relacaoCaMg" formConmat-grid-listolNam="relacaoCaMg">
                  <mat-error *ngIf="form.get('relacaoCaMg').hasError('required') && form.get('relacaoCaMg').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="relacaoCaK" formConmat-grid-listolNam="relacaoCaK">
                  <mat-error *ngIf="form.get('relacaoCaK').hasError('required') && form.get('relacaoCaK').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayoutGap="5px grid">
              <mat-form-field class="form-element">
                  <input matInput type="number" placeholder="relacaoMgK" formConmat-grid-listolNam="relacaoMgK">
                  <mat-error *ngIf="form.get('relacaoMgK').hasError('required') && form.get('relacaoMgK').touched">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
            </div>
          </div>

          <div class="form-element">
              <button mat-raised-button type="submit" [disabled]="form.invalid">Salvar</button>
              <button mat-button (click)="redirect()">Cancelar</button>
          </div>
      </form>
  </mat-card-content> 
</mat-card> 
