<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-header-image">
      <mat-icon>note</mat-icon>
    </div>
    <mat-card-title>{{diagnostico?.laudo.nome}}</mat-card-title>
    <mat-card-subtitle>{{diagnostico?.laudo.responsavel}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between">
      <div fxFlex="100%">
        <mat-expansion-panel class="mat-elevation-z0" [expanded]="0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dados cadastrais do Laudo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="10%">
              <p>Argila %</p>
              {{diagnostico?.laudo.argila}}
            </div>
            <div fxFlex="10%">
              <p>pH H²0</p>
              {{diagnostico?.laudo.pH}}
            </div>
            <div fxFlex="10%">
              <p>Índice SMP</p>
              {{diagnostico?.laudo.indiceSMP}}
            </div>
            <div fxFlex="10%">
              <p>P mg/dm³</p>
              {{diagnostico?.laudo.fosforoP}}
            </div>
            <div fxFlex="10%">
              <p>K mg/dm³</p>
              {{diagnostico?.laudo.potassioK}}
            </div>
            <div fxFlex="10%">
              <p>M.O %</p>
              {{diagnostico?.laudo.materiaOrganicaMO}}
            </div>
            <div fxFlex="10%">
              <p>Al Trocavel cmolc/dm³</p>
              {{diagnostico?.laudo.aluminioTrocavelAlTroc}}
            </div>
            <div fxFlex="10%">
              <p>Ca Trocavel cmolc/dm³</p>
              {{diagnostico?.laudo.calcioTrocavelCaTroc}}
            </div>
            <div fxFlex="10%">
              <p>Mg Trocavel cmolc/dm³</p>
              {{diagnostico?.laudo.magnesioTrocavelMgTroc}}
            </div>
          </div>
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="12%">
              <p>Al+H cmolc/dm³</p>
              {{diagnostico?.laudo.aluminioHidrogenioALplusH}}
            </div>
            <div fxFlex="12%">
              <p>CTC cmolc/dm³</p>
              {{diagnostico?.laudo.ctc}}
            </div>
            <div fxFlex="12%">
              <p>% Sat. da CTC: Bases</p>
              {{diagnostico?.laudo.saturacaoCTCBase}}
            </div>
            <div fxFlex="12%">
              <p>% Sat. da CTC: Al</p>
              {{diagnostico?.laudo.saturacaoCTCAl}}
            </div>
            <div fxFlex="12%">
              <p>Relações Ca/Mg</p>
              {{diagnostico?.laudo.relacaoCaMg}}
            </div>
            <div fxFlex="12%">
              <p>Relações Ca/K</p>
              {{diagnostico?.laudo.relacaoCaK}}
            </div>
            <div fxFlex="12%">
              <p>Relações Mg/K</p>
              {{diagnostico?.laudo.relacaoMgK}}
            </div>
          </div>

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="100%">
              <p>pH de referência escolhido</p>
              {{diagnostico?.laudo.pHReferencia}}
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Diagnosticos do Laudo
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="50%">
              <p>Quantidade de calcário PRNT: 90%</p>
              {{diagnostico?.quantidadeCalcario | number:'1.2-2'}}
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="form-element" fxLayout="row">
      <button mat-raised-button color="primary" (click)="redirect()">Editar</button>
      <button mat-button (click)="redirectBack()">Voltar</button>
      <div *ngIf="isLoading">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
  </mat-card-actions>
</mat-card>